/*320px (small mobile device), 
480px (medium mobile device), 
768px (tablet), 
992px (small desktop), 
1200px (large desktop)*/
* {
	box-sizing: border-box;
}
html, body {
	width: 100%;
	height:100%;
}

body {
	background-color: lightblue;
}