body {
	 background-repeat: no-repeat;
     background-position: top center;
     background-attachment: fixed;
     width: 100%;
     background-size: cover;
     background-position: center;
}
#middle {
	padding: 13%;
	text-align: center;
	font-family: 'Raleway', sans-serif;

}
section {
	border-style: solid;
	border-color: #f1f2ed;
	padding: 50px;
	background-color: #b4c4ca;
}

h1 {
	color: #304922;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	font-weight: bold;
}

h2 {
	color: #304922;
}

a {
	color: #b16639;
	text-decoration: none;
}
/*display of content*/
.projects {
	display: inline-block;
	vertical-align: top;
	
}

.lab {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	
}

.studio {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	
}

/*the show and hide of content*/
.show {
	display: none;
}

.projects:hover .show {
	display: block;
}

.projects:hover .stay {
	display: none;
}

.lab:hover .show {
	display: block;
}

.lab:hover .stay {
	display: none;
}

.studio:hover .show {
	display: block;
}

.studio:hover .stay {
	display: none;
}