body {
	 background-repeat: no-repeat;
     background-position: top center;
     background-attachment: fixed;
     width: 100%;
     background-size: cover;
     background-position: center;
}

.healthy-circle {
	background-color: #605a5a;
	width:320px;
	height: 320px;
	border-radius: 50%;
	position: relative;
	top:90px;
	left:38px;
	text-align: center;
	line-height: 320px;
	font-weight: bold;
	font-size: 35px;
	font-family: Lucida Grande;
	color: #d0cbcb;
}