body {
	 background-repeat: no-repeat;
     background-position: top center;
     background-attachment: fixed;
     width: 100%;
     background-size: cover;
     background-position: center;
}

h1 {
	font-family: Lucida Grande;
	font-weight: bold;
	font-size: 75px;
	text-align: center;
	color: white;
	
}
.nav-tabs {
	display: inline-block;
}
nav {
	position: fixed;
	top: 10px;
	left: 20px;
	width: 400px;
	padding: 10px;

} 

nav a {
	background-color: #453122;
	border: 1px solid black;
	text-decoration: none;
}

nav a:hover {
	background-color: gray;
	padding: 10px;
}


#healthy {
	width:85%;
	border-radius: 50%;
	padding: 20px;
	display: block;
	margin: auto;
	margin-top: 6%;
	
	
}

.circle_1 {
	background-color: #5a4138;
	width:350px;
	height: 350px;
	border-radius: 50%;
	/*position: relative;*/
	/*top:90px;
	left:38px;*/
	/*margin-left: auto;
	margin-right: auto;*/
	display: inline-block;
	text-align: center;
	line-height: 350px;
	font-weight: bold;
	font-size: 35px;
	font-family: Lucida Grande;
	color: #d0cbcb;
	
}

.circle_2 {
	background-color: #66463b;
	width:350px;
	height: 350px;
	border-radius: 50%;
	/*position: relative;
	top:111px;
	left:145px;*/
	/*margin-left: auto;
	margin-right: auto;*/
	display: inline-block;
	text-align: center;
	line-height: 350px;
	font-weight: bold;
	font-size: 35px;
	font-family: Lucida Grande;
	color: #d0cbcb;
}

.circle_3 {
	background-color: #795041;
	width:350px;
	height: 350px;
	border-radius: 50%;
	/*position: relative;
	top:100px;
	left:240px;*/
	/*margin-left: auto;
	margin-right: auto;*/
	display: inline-block;
	text-align: center;
	line-height: 350px;
	font-weight: bold;
	font-size: 35px;
	font-family: Lucida Grande;
	color: #d0cbcb;
}



a {
	text-align: center;
	text-decoration: none;
	/*font-weight: bold;
	font-size: 30px;*/
	font-family: Lucida Grande;
	color: #d0cbcb;
	
}
a:hover {
	color: brown;
	padding: 10px;
}

