
section {
	margin: auto;
    background-color:rgba(37, 24, 34, 0.5);
    position: relative;
    top: 30px;
    padding: 1%;
    width: 90%;
}
body {
	background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-opacity: .5;
	top: 0;
	left: 0;
	margin: 0; 
	padding: 0;
    /*background-color:#23262d*/
}

#p-body {
	background-color:#23262d;
}

#topp{
	background-color:rgba(197, 67, 83, 0.68);
	height: 65px;
}

#top  {
	padding-left: 2%;
	background-color: gray;
	width: 100%;
}
#top a{
	color:#374c46;
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	
	float: left;
}
#top a:hover {
	color:#374c46;
}
#info a {
	padding-top: 5px;
	padding-right: 2%;
	float: right;
	color: #374c46 ;
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
	display: inline-block;
}

#info a:hover {
	color:rgb(128, 136, 121);
}
nav {
	font-family: 'Roboto', sans-serif;
	float: right;
}
h1 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color:#f7f7f7;
}

main {
	margin: auto;
    background-color:rgba(37, 24, 34, 0.5);
    position: relative;
    top: 100px;
    padding: 3%;
    width: 50%;
    margin-bottom: 40px;
}
/*a .p-name {
	color:#d3938d;
}*/
/*a {
	font-family: 'Archivo Narrow', sans-serif;
	text-decoration: none;
	color: #c54353;
	font-size: 20px;
}*/
/*a:hover {
	color:  #e7beb8 ;
	background-color:#c24546; 
}
*/p {
	/*text-align: center;*/
	font-family: 'Roboto', sans-serif;
	color:#f7f7f7;
	font-size: 20px;
    /*padding-right: 35%;*/
   /* background-color:rgba(37, 24, 34, 0.5);*/
}
.col img, .col iframe /*everytime theres a img tag in a .col add these properties*/{
	width: 100%;
	vertical-align: top;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
}

.col:hover {
	padding: .5%;
	background-color: #662334;
}
iframe{
	width: calc(66.666% - 20px);
	display: inline-block;
}

.col-2of6 {
    width: calc(33.333% - 20px);
    display: inline-block;
}
.col3of6 {
    width: calc(66.666% - 20px);
}
.tag {
	font-family: 'Roboto', sans-serif;
	color:#f7f7f7;
	padding-left: 20px;
	font-size: 20px;
}

.wholepic {
    float: right;
    position: relative;
    margin: 0;
    padding-left: 32%;
    right: 0;
    display: block;
}
div.wholepicp {
    padding-left: 25%;
    /*background-color:rgba(37, 24, 34, 0.5);
    padding: 5%;*/
}
div.wholepicp2 {
    padding-left: 18%;
}
div.wholepic1 {
    float: right;
    position: relative;
    margin: 0;
    left: 10%;
    right: 0;
    display: block;
    white-space: nowrap;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-right: 20%;
    vertical-align: top;
}

div.wholepic3 {
    float: right;
    position: relative;
    margin: 0;
    left: 10%;
    right: 0;
    display: block;
    white-space: nowrap;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-right: 20%;
}
div.wholepicp2 {
    padding-left: 30%;
}

.process {
    position: relative;
    margin: 0;
    left: 28%;
    right: 0;
    width: calc(50% - 20px);
    display: block;
}

.process2 {
    position: relative;
    width: 100px;
    padding-left: 30%;
}
.process2p {
    position: relative;
    width: calc(15% - 85px);
    padding-left: 30%;
}
#seclay {
    background-color: rgba(226, 198, 187, 0.62);
}

div.para {
    position: relative;
    display: block;
	color:#f7f7f7;
	font-family: 'Roboto', sans-serif;
	padding: 20px 350px 30px 350px;
	font-size: 20px;
    height: 25px;

}
.parap {
    color:#f7f7f7;
    font-family: 'Roboto', sans-serif;
    padding: 20px 350px 20px 350px;
    font-size: 20px;
   /* background-color:rgba(37, 24, 34, 0.5);*/
}

.me img{
	margin: auto;
    position: relative;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    left: 25%;
}
.process3 {
    position: relative;
    margin: 0;
    left: 35%;
    right: 0;
    width: calc(50% - 20px);
    display: block;
}

#webpara {
    margin: 0 auto;
    width: calc(80% - 40px);
    color:#c54353;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 2%;
}
.vp {
    padding-right: 35%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color:#f7f7f7;
    padding-top: 2%;
    padding-bottom: 2%;
}
.break {
    position: relative;
    display: block;
    padding: 5%;
}
br {
    padding: 10%;
}
