body {
	background-color: lightgray;
}

h2 {
	margin: auto;
	text-align: center;
	font-family: "Bookmania Regular";
	font-weight: bold;
	font-style: normal;
	font-size: 55px;
	letter-spacing: 1px;
	color: white;
}

.para1 {
	padding: 0% 5% 0% 5%;
}

.para2 {
	padding: 0% 5% 0% 5%;
}
p {
	word-spacing: -1.2px;
	background-color: white;
	line-height: 1.3em;
	font-family: "Bookmania Regular";
	font-weight: normal;
	font-style: normal;
	font-size: 25px;
	padding: 5% 15% 3% 15%;
	border: solid 1px;
}